<div class="auth-wrapper">
    <h4>Forgot your password</h4>
    <form>
        <div class="form-field-wrp">
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter your email address">
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button color="primary" class="btn primary-btn">Reset Password</button>
    </form>
    <div class="bottom-content">
        <a routerLink="/" title="BACK TO LOGIN" class="green-text"> Back to Login</a> 
    </div>
</div>