/*color variables */

$white:#ffffff;
$black:#000;


$blur_blue:#6178AC;
$blur_blue1:#28437E;
$blur_red:#D44635;
$blur_red1:#A11C0D;
$green_text:#81BB33;
$gray:#DDDDDD;
$gray_blur:#D5D5D5;
$blue:#0E72B5;
$text_color:#7F7F7F;
$gray_blur1:#EEEEEE;
$gray_blur2:#435261;
$blur_black:#2E3134;
$gray-blur3:#F4F5F7;
$gray-blur4:rgba(244, 245, 247,0.7);
$blur_white:rgba(255,255,255,0.9);
$gray_blur5:#F1F1F1;
$gray_blur6:#BEBEBE;
$gray_blur7:#d3d3d3;
$gray_blur8:#BDBDBD;
$gray_blur9:#d4d5d7;
$gray_blur10:#A4ABB0;