<section class="inner-banner-section">
    <div class="container">
        <app-search></app-search>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <h2>About Us</h2>
        <div class="img-content-block">
            <div class="content-block">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo.
                  </p>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                    odit aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem quaerat voluptatem.
                  </p>
                <p> 
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur Quis autem vel eum iure reprehenderit qui in ea
                    voluptate velit esse quam nihil molestiae consequatur, vel
                    illum qui dolorem eum fugiat quo voluptas nulla pariatur but I
                    must explain to you how all system, and expound the actual
                    teachings of the great explorer of the truth, the
                    master-builder of human happiness. No one rejects, dislikes,
                    or avoids
                  </p>
            </div>
            <div class="img-block"><img src="../../../../assets/imges/about1.png"> </div>
        </div>
 
    <div class="img-content-block left-img" >
        <div class="content-block">
            <h5>OUR VISION</h5>           
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias excepturi sint occaecati cupiditate
                non provident.
              </p>
              <p>
                Similique sunt in culpa qui officia deserunt mollitia animi,
                id est laborum et dolorum fuga. Et harum quidem rerum facilis
                est et expedita distinctio. Nam libero tempore, cum soluta
                nobis est eligendi optio cumque nihil impedit quo minus id
                quod maxime placeat facere possimus, omnis voluptas assumenda
                est, omnis dolor repellendus.
              </p>
        </div>
        <div class="img-block"><img src="../../../../assets/imges/about3.png"> </div>
    </div>
    <div class="img-content-block">
        <div class="left-block">
            <h5> WHY CHOOSE US?</h5>
            <p>
                On the other hand, we denounce with righteous indignation and
                dislike men who are:
              </p>
              <ul class="benefits-list">
                <li *ngFor="let benefits of list">{{benefits}}</li>
              </ul>
        </div>
        <div class="right-block">
            <img src="../../../../assets/imges/about2.png">
        </div>
    </div>
</div>
</section>

<app-find-devices></app-find-devices>