<div class="auth-wrapper">
    <h4>Create a Sell4Case Account</h4>
    <form>
        <div class="form-field-wrp">
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First Name">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email ID">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Phone Number">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Re-enter Password">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Address">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Postal Code">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="City">
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Country">
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button color="primary" class="btn primary-btn">Create an Account</button>
    </form>
    <div class="bottom-content">
        <p>Already have an account? <a routerLink="/" title="LOG IN" class="green-text"> LOG IN</a> </p>
    </div>
</div>