@import "../../../assets/css/main.scss";
.img-content-block {
    display: flex;
    margin: 0 -20px;
    margin-bottom: 43px;
    flex-wrap: wrap;

    @include bp(smlg-max) {
        margin: 0 -10px;
        margin-bottom: 30px;

    }

    @include bp(xs-max) {
        margin: 0;
        margin-bottom: 20px;

    }

    .img-block {
        flex: 0 0 32%;
        max-width: 32%;
        padding: 0 20px;

        @include bp(smlg-max) {
            padding: 0 10px;
        }

        @include bp(xs-max) {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            min-height: 200px;

            @include bp(smlg-max) {
                min-height: 110px;
            }
        }
    }

    .content-block {
        flex: 0 0 68%;
        max-width: 68%;
        padding: 0 20px;

        @include bp(smlg-max) {
            padding: 0 10px;
        }

        @include bp(xs-max) {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
        }

        a {
            color: $black ;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
                color: $blue;
            }

            &.read-more-btn {
                border-bottom: 1px solid #000000;
                color: $blue;
                border-color: $blue;
                transition: all 0.3s;
                padding-bottom: 0 !important;
                line-height: 1 !important;

                &:hover {
                    border-color: transparent;
                }
            }
        }

        .icon-list {
            display: flex;
            list-style: none;
            margin-bottom: 15px;

            @include bp(xs-max) {
                flex-direction: column;
            }

            li {
                margin-right: 15px;

                a {
                    display: flex !important;
                    align-items: center;
                    font-size: 13px !important;
                }

                i {
                    margin-right: 7px;
                    display: inline-flex !important;

                }
            }
        }

        p {
            font-size: 14px !important;
            line-height: 1.6 !important;
        }
    }
}