
<div class="img-content-block">
    <div class="img-block">
        <img src="../../../../assets/imges/blog4.png" alt="blog1">
    </div>
    <div class="content-block">
        <h5><a routerLink="">On the other hand, we denounce with righteous indignation.</a> </h5>
        <ul class="icon-list">
            <li><a routerLink=""><i><img src="../../../../assets/imges/watch-icon.png"
                            alt="watch"></i>January 08,2017</a> </li>
            <li><a routerLink=""><i><img src="../../../../assets/imges/like-icon.png" alt="like"></i>10
                    Like</a> </li>
            <li><a routerLink=""><i><img src="../../../../assets/imges/comment-icon.png" alt="comment">
                    </i> 2 Comment</a> </li>
        </ul>
        <p>
            It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum is
            that
            it has a more-or-less normal distribution of letters, as opposed to using
            'Content
            here, content here', making it look like readable English. Many desktop
            publishing
            packages and web page editors now sometimes by accident, sometimes on purpose...
            <a routerLink="" class="read-more-btn" title="Read More">Read More</a>
        </p>
    </div>
</div>