<section class="inner-banner-section">
    <div class="container">
        <app-search></app-search>
    </div>
</section>
<section class="blog-section">
    <div class="container">
        <div class="bolg-wrap">
            <div class="left-content">
                <h5><a routerLink="/">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                </h5>
                <p class="bg-text">On July 7, 2015 | Category: <span class="blue-text">Loreum Ipsum</span> | Tags:<span
                        class="blue-text"> Dummy, Text, Printing </span>|<span class="blue-text"> No comments</span>
                </p>
                <div class="img-wrap">
                    <img src="../../../../assets/imges/blog-detail.png" alt="blog-detail">
                </div>
                <p> It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for'lorem ipsum'.</p>
                <p> Various versions have evolved over the years, sometimes by accident, sometimes on purpose. There are
                    many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which don't look even slightly believable. If you
                    are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                    hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                    predefinedchunks as necessary, making this the first true generator on the Internet.</p>
                <p> It uses a dictionary of over 200 Latin words, combined with a handful of model sentencestructures,
                    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                    from repetition, injected humour, or non-characteristic words etc.</p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga.</p>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo </p>
            </div>
            <div class="right-content">
                <app-blog-type></app-blog-type>
            </div>
        </div>
    </div>
</section>
<app-find-devices></app-find-devices>