@import "../../../../assets/css/main.scss";

.banner-section {
    .slide {
        img {
            width: 100%;
            display: flex !important;
            min-height: 250px;
        }
    }
    .carousel{
        margin: 0 -20px;
    }
}


.banner-section {
    position: relative;

    .content-block {
        position: absolute;
        top: 35%;

        @include bp(xlg-md) {
            padding: 0 30px;
            top: 50%;
            transform: translateY(-50%);
        }

        h3 {
            max-width: 660px;
            line-height: 1.3;
            font-weight: 300;
            margin-bottom: 0 !important;
        }
    }
}

.search-section {
    padding: 20px 0;
    margin-top: -80px;
    z-index: 6;
    position: relative;

    @include bp(md-max) {
        margin-top: 0;
    }

}

.work-process-section {
    padding: 85px 0;

    @include bp(md-max) {
        padding: 40px 0;
    }

    .custom-row {
        display: flex;
        flex-wrap: wrap;

        .custom-colum {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 55px;

            @include bp(md-max) {
                padding: 0 20px;
            }

            @include bp(smlg-max) {
                flex: 0 0 100%;
                max-width: 400px;
                margin: 0 auto;
                margin-bottom: 15px;
            }

            h5 {
                color: $blue;
                text-align: center;
                margin-bottom: 20px !important;
            }

            p {
                font-size: 14px;
                text-align: center;
            }

            i {

                border-radius: 50%;
                background-color: $blue ;
                height: 140px;
                width: 140px;
                display: flex !important;
                align-items: center;
                justify-content: center;
                margin: 0 auto 30px auto;

                @include bp(md-max) {
                    height: 100px;
                    width: 100px;
                }

                img {
                    height: 80px;
                    width: 80px;
                    object-fit: contain;

                    @include bp(md-max) {
                        height: 55px;
                        width: 55px;
                    }
                }
            }

            &.search-colum {
                position: relative;

                &::after {
                    position: absolute;
                    background-image: url(../../../../assets/imges/arrow2.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: "";
                    width: 120px;
                    height: 120px;
                    top: 15%;
                    right: -12%;

                    @include bp(lg-max) {
                        height: 90px;
                        width: 90px;
                        top: 13%;
                    }

                    @include bp(md-max) {
                        height: 70px;
                        width: 70px;
                        top: 10%;
                    }

                    @include bp(smlg-max) {
                        display: none;
                    }
                }
            }

            &.services-colum {
                position: relative;

                &::after {
                    position: absolute;
                    background-image: url(../../../../assets/imges/arrow1.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: "";
                    width: 120px;
                    height: 120px;
                    top: 24%;
                    right: -14%;

                    @include bp(lg-max) {
                        height: 90px;
                        width: 90px;
                        top: 18%;
                    }

                    @include bp(md-max) {
                        height: 70px;
                        width: 70px;
                        top: 13%;
                    }

                    @include bp(smlg-max) {
                        display: none;
                    }
                }
            }
        }
    }
}

.device-category-section {
    background-color: $gray-blur3;
    padding: 105px 0;

    @include bp(md-max) {
        padding: 70px 0;
    }

    @include bp(smlg-max) {
        padding: 40px 0;
    }

    .carousel {
        padding: 0 80px;
        position: relative;

        @include bp(xlg-max) {
            padding: 0 50px;
        }

        @include bp(smlg-max) {
            padding: 0 30px;
        }

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            // width: 370px;
            width: 270px;
            content: "";
            background-color: $gray-blur4;

            @include bp(xlg-max) {
                width: 150px;
            }

            @include bp(md-max) {
                width: 140px;
            }

            @include bp(smlg-max) {
                width: 0;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            // width: 370px;
            width: 270px;
            content: "";
            background-color: $gray-blur4;
            z-index: 1;

            @include bp(xlg-max) {
                width: 150px;
            }

            @include bp(md-max) {
                width: 140px;
            }

            @include bp(smlg-max) {
                width: 0;
            }
        }
    }

    .slide {
        background-color: $white;
        padding: 30px 20px;
        margin: 0 17px;
        position: relative;
        min-height: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include bp(xlg-max) {
            min-height: 300px;
            margin: 0 10px;
        }

        @include bp(md-max) {
            min-height: 250px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            width: 100%;
            content: "";
            background-color: $green_text;
            opacity: 0;
            transition: all 0.3s;
        }

        img {
            max-height: 200px;
            max-width: 215px;
            object-fit: contain;
            margin: 0 auto 30px auto;
            transition: all 0.3s;
            width: 100%;
            height: 100%;

            @include bp(md-max) {
                max-width: 135px;
                max-height: 125px;
            }
        }

        p {
            text-align: center;
            font-size: 20px !important;
            color: $blue;
            transition: all 0.3s;
            font-weight: 600;
            position: absolute;
            bottom: 20px;
            padding: 0 10px;

            @include bp(md-max) {
                font-size: 16px !important;
                bottom: 10px;
            }
        }

    }

    .slide:hover {
        p {
            color: $black;
        }

        &::after {
            opacity: 1;
        }

        img {
            transform: scale(1.08);
        }
    }
}

.benefit-list-section {
    .img-content-block {
        display: flex;
        flex-wrap: wrap;
        color: $white;
        margin:0 -20px ;
        .content-block {
            padding: 90px 0;
            flex: 0 0 50%;
            max-width: 50%;
            background-image: url(../../../../assets/imges/benefits-bg.png);
            background-repeat: no-repeat;
            background-size: cover;

            @include bp(xlg-max) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            @include bp(md-max){
                padding: 50px 0;
            }
            @include bp(smlg-max){
                padding: 40px 0;
            }

            .benefit-content {
                max-width: 620px;
                margin-left: auto;
                padding-right: 30px;

                @include bp(xlg-max) {
                    padding: 0 20px;
                    max-width: 100%;

                }

                h2 {
                    text-align: start;
                    font-size: 45px !important;
                    margin-bottom: 30px !important;
                    line-height: 1;
                    @include bp(md-max){
                        font-size: 40px !important;
                        margin-bottom: 30px !important;
                    }
                    @include bp(xs-max){
                        font-size: 30px !important;
                    }
                }

                p {
                    margin-bottom: 35px;
                }

                .benefit-list {
                    margin-bottom: -20px;
                    display: flex;
                    flex-wrap: wrap;
                    @include bp(smlg-max){
                        margin-bottom: -10px;
                    }
                    li {
                        flex: 0 0 calc(50% - 20px);
                        max-width: calc(50% - 20px);
                        font-size: 16px;
                        margin-bottom: 20px;
                        margin-left: 20px;

                        @include bp(smlg-max) {
                            flex: 0 0 calc(100% - 20px);
                            max-width: calc(100% - 20px);
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .img-block {
            padding: 40px 0;
            flex: 0 0 50%;
            max-width: 50%;
            background-image: url(../../../../assets/imges/benefit1.png);
            background-repeat: no-repeat;
            background-size: cover;

            @include bp(xlg-max) {
                flex: 0 0 100%;
                max-width: 100%;
                min-height: 600px;
            }
            @include bp(smlg-max){
                min-height: 300px;
            }

        }
    }
}

.contact-section{
    position: relative;
    iframe{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .contact-details{
        background-color: $blur_white;
        max-width:435px;
        padding: 50px 35px;
        z-index: 10;
        position: relative;
        @include bp(md-max){
            padding: 30px 20px;
        }
        h2{
            margin-bottom: 20px !important  ;
            text-align: start;
        }
        .btn-wrapper{
            .btn{
                width: 100%;
                padding: 15px !important;
            }
        }
    }
}